<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Apple Store</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Home/logo.png">
    <!-- Custom Stylesheet -->
    <link href="/css/admin.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <script src="/js/admin/checkForm.js"></script>
</head>

<body>

    
    <%- include("layouts/header") -%>

    
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!-- row -->
            
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        
                        <div class="card">  
                            <div class="card-body">
                                <button type="button" class="btn btn-primary" onclick="location.href='/admin/dssanpham'">Quay về</button>
                                <h4 class="card-title" style="text-align: center;"><%= sanpham.tensanpham %></h4><br>
                                <div class="form-validation">
                                    <form name="themsanpham" onsubmit="return validateUpdate()"  action="<%= sanpham.id %>" method="post">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="tensanpham">Tên sản phẩm <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input value="<%= sanpham.tensanpham %>" type="text" class="form-control" id="tensanpham" name="tensanpham" placeholder="Nhập tên sản phẩm..">
                                                <span id="errorTensanpham" class="error-message"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="giatien">Giá tiền <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input value="<%= sanpham.giatien %>" type="number" class="form-control" id="giatien" name="giatien" placeholder="Nhập giá sản phẩm..">
                                                <span id="errorGiatien" class="error-message"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="giakhuyenmai">Giá khuyến mãi (Nếu có)</label>
                                            <div class="col-lg-6">
                                                <input value="<%= sanpham.giakhuyenmai %>" type="number" class="form-control" id="giakhuyenmai" name="giakhuyenmai" placeholder="Nhập giá khuyến mãi..">
                                                <span id="errorGiakhuyenmai" class="error-message"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">Dòng sản phẩm <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" id="loaisp" name="loaisp">
                                                    <% loaisanpham.forEach(function(data){  %>
                                                        <option value="<%= data.id %>" <% if(data._id.toString()  == sanpham.idloaisp.toString()){%> selected<%}%>><%= data.tenloaisp %></option>
                                                    <% }) %>
                                                    <span id="errorLoaisp" class="error-message"></span>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="hinhanh">Hình ảnh <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <div class="custom-file mb-3">
                                                    <input type="file" class="custom-file-input" id="customFile" name="hinhanh">
                                                    <label class="custom-file-label" for="customFile">Chọn ảnh</label>
                                                </div>  
                                            </div>
                                        </div> -->
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="mota">Mô tả <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <textarea  class="form-control" name="mota" id="mota" rows="10" cols="150"><%= sanpham.mota %></textarea>
                                                <span id="errorMota" class="error-message"></span>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="thongsokythuat">Thông số kỹ thuật <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <textarea class="form-control" name="thongsokythuat" id="thongsokythuat" rows="10" cols="150">
                                                    <%= sanpham.thongsokythuat %>
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
       <%- include("layouts/footer") -%>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <%- include("layouts/script") -%>
        
</body>

</html>

<!-- OderManager
CatalogManager -->