<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Apple Store</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Home/logo.png">
    <!-- Custom Stylesheet -->
    <link href="/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/Css/admin.css" rel="stylesheet">

    <!-- <script>
        function VND(x){
            document.write(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(x));
        }
        
    </script> -->

</head>

<body>
    <%- include("layouts/header") -%>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <% if(messageUpdate!=''){%>
                            <div class="alert success" id="success-alert" style="text-align: center; width: 800px;margin-left: 150px;">
                                <span class="closebtn">&times;</span>
                                <strong><%= messageUpdate%></strong>
                            </div>
                        <%}%>
                        <% if(messageDelete!=''){%>
                            <div class="alert success" id="success-alert" style="text-align: center; width: 800px;margin-left: 150px;">
                                <span class="closebtn">&times;</span>
                                <strong><%= messageDelete%></strong>
                            </div>
                        <%}%>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách sản phẩm <small>(<%= sanpham.length %> sản phẩm)</small></h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Dòng sản phẩm</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá tiền</th>
                                                <th>Giá khuyến mãi</th>
                                                <th>Hình ảnh</th>
                                                <th>Lượt mua</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% sanpham.forEach(function(data){  %>
                                                <tr>
                                                    <td>
                                                        <%= data.idloaisp.tenloaisp %>
                                                    </td>
                                                    <td>
                                                        <%= data.tensanpham %>
                                                    </td>
                                                    <td>
                                                        <%= data.giatien%>
                                                        <!-- toLocaleString('de-DE')  -->
                                                    </td>
                                                    <td>
                                                        <% if(data.giakhuyenmai){ %>
                                                            <%= data.giakhuyenmai %>        
                                                                <%}else{%>(Không)
                                                                    <%}%>
                                                    </td>
                                                    <td><img src="../upload/<%=data.hinhanh %>" style="height: 70px;"></td>
                                                    <td>
                                                        <%= data.luotmua %>
                                                    </td>
                                                    <td>

                                                        <a href="#" data-toggle="modal" data-target="#a<%= data._id %>"><i class="fas fa-trash-alt"></i> Xóa</a> | <a href="./../admin/dssanpham/update/<%= data._id %>"><i class="fas fa-edit"></i>Sửa</a>
                                                    </td>
                                                </tr>
                                                <!-- The Modal -->
                                                <div class="modal fade" id="a<%= data._id %>">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">
                                                                    <%= data.tensanpham %>
                                                                </h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>

                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                Bạn có chắc muốn xóa sản phẩm này?
                                                            </div>

                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-danger" onclick="location.href='./../admin/dssanpham/delete/<%= data._id %>'">Xóa</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Dòng sản phẩm</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá tiền</th>
                                                <th>Giá khuyến mãi</th>
                                                <th>Hình ảnh</th>
                                                <th>Lượt mua</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <%- include("layouts/footer") -%>
        </div>
        <!--**********************************
    Main wrapper end
    ***********************************-->
            <!--**********************************
        Scripts
    ***********************************-->
        <script src="/js/admin/close-alert.js"></script>
        <%- include("layouts/script") -%>
</body>

</html>