<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Apple Store</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Home/logo.png">
    <!-- Custom Stylesheet -->
    <link href="/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/Css/admin.css" rel="stylesheet">

</head>

<body>
    <%- include("layouts/header") -%>

        <!--**********************************x`x`
            Content body start
        ***********************************-->
        <div class="content-body">

 
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <% if(message!=''){%>
                        <div class="alert success" id="success-alert" style="text-align: center; width: 800px;margin-left: 150px;">
                            <span class="closebtn">&times;</span>  
                            <strong><%= message%></strong>
                        </div><%}%>
                    <% if(messageFail!=''){%>
                        <div class="alert danger" id="success-alert" style="text-align: center; width: 800px;margin-left: 150px;">
                            <span class="closebtn">&times;</span>  
                            <strong><%= messageFail%></strong>
                        </div><%}%>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4><%if(update){%>Cập nhật loại sản phẩm<%}else{%>Thêm mới loại sản phẩm<%}%></h4>
                                </div>
                                <div class="form-validation">
                                    <form class="form-valide"  action="/admin/dongsanpham/<%if(update){%><%=update.id%><%}%>" method="post">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="tenloaisp">Tên dòng sản phẩm <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input value="<%if(update){%><%=update.tenloaisp%><%}%>" type="text" class="form-control" id="tenloaisp" name="tenloaisp" placeholder="Nhập tên loại sản phẩm..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="tendongsp">Chọn dòng sản phẩm <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="tendongsp" value="MACBOOK" <%if(update){%><%if(update.tendongsp=='MACBOOK'){%>checked<%}%><%}%>> MACBOOK</label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="tendongsp" value="IMAC" <%if(update){%><%if(update.tendongsp=='IMAC'){%>checked<%}%><%}%>> IMAC</label>
                                                <label class="radio-inline mr-3">
                                                    <input type="radio" name="tendongsp" value="PHỤ KIỆN" <%if(update){%><%if(update.tendongsp=='PHỤ KIỆN'){%>checked<%}%><%}%>> PHỤ KIỆN</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <%if(update){%><button type="button" class="btn btn-primary" onclick="location.href='dongsanpham'">Thêm mới</button><%}%>
                                                <button type="submit" class="btn btn-primary"><%if(update){%>Cập nhật<%}else{%>Thêm<%}%></button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>MACBOOK</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% let a = 1 %>
                                            <% macbook.forEach(function(data){  %>
                                            <tr>
                                                <th><%= a %></th>
                                                <td><%= data.tenloaisp %></td>
                                                <td><a href="#" data-toggle="modal" data-target="#a<%= data._id %>"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                    | <a href="dongsanpham?update=<%= data.id %>"><i class="fas fa-edit"></i>sửa</a></span>
                                                <% a++ %>
                                            </tr>
                                            <!-- The Modal -->
                                            <div class="modal fade" id="a<%= data._id %>">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                
                                                    <div class="modal-header">
                                                    <h4 class="modal-title"><%= data.tenloaisp %></h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    
                                                    <div class="modal-body">
                                                    Bạn có chắc muốn xóa sản phẩm này?
                                                    </div>
                                                    
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger" onclick="location.href='dongsanpham/delete/<%= data._id %>'">Xóa</button>
                                                    </div>
                                                    
                                                </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>IMAC</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% let b = 1 %>
                                            <% imac.forEach(function(data){  %>
                                            <tr>
                                                <th><%= b %></th>
                                                <td><%= data.tenloaisp %></td>
                                                <td><a href="#" data-toggle="modal" data-target="#a<%= data._id %>"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                    | <a href="dongsanpham?update=<%= data.id %>"><i class="fas fa-edit"></i> Sửa</a></span>
                                                <% b++ %>
                                            </tr>
                                            <!-- The Modal -->
                                            <div class="modal fade" id="a<%= data._id %>">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                
                                                    <div class="modal-header">
                                                    <h4 class="modal-title"><%= data.tenloaisp %></h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    
                                                    <div class="modal-body">
                                                    Bạn có chắc muốn xóa sản phẩm này?
                                                    </div>
                                                    
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger" onclick="location.href='dongsanpham/delete/<%= data._id %>'">Xóa</button>
                                                    </div>
                                                    
                                                </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>PHỤ KIỆN</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% let c = 1 %>
                                            <% phukien.forEach(function(data){  %>
                                            <tr>
                                                <th><%= c %></th>
                                                <td><%= data.tenloaisp %></td>
                                                <td><a href="#" data-toggle="modal" data-target="#a<%= data._id %>"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                    | <a href="dongsanpham?update=<%= data.id %>"><i class="fas fa-edit"></i> Sửa</a></span>
                                                <% c++ %>
                                            </tr>
                                            <!-- The Modal -->
                                            <div class="modal fade" id="a<%= data._id %>">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                
                                                    <div class="modal-header">
                                                    <h4 class="modal-title"><%= data.tenloaisp %></h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    
                                                    <div class="modal-body">
                                                    Bạn có chắc muốn xóa sản phẩm này?
                                                    </div>
                                                    
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger" onclick="location.href='dongsanpham/delete/<%= data._id %>'">Xóa</button>
                                                    </div>
                                                    
                                                </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <%- include("layouts/footer") -%>
        
        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/js/admin/close-alert.js"></script>
    <%- include("layouts/script") -%>

</body>

</html>