<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MacOne</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Home/logo.png">
    <!-- Custom Stylesheet -->
    <link href="/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/Css/admin.css" rel="stylesheet">
    <style>
        .empty{
            color: rgb(190, 187, 187);
        }
    </style>
</head>

<body>
    <%- include("layouts/header") -%>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <% if(messageDelete!=''){%>
                    <div class="alert success" id="success-alert" style="text-align: center; width: 800px;margin-left: 150px;">
                        <span class="closebtn">&times;</span>  
                        <strong><%= messageDelete%></strong>
                    </div><%}%>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Danh sách nhân viên <small>(<%= thanhvien.length %> nhân viên)</small></h4>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>Chức vụ</th>
                                            <th>Họ tên</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Địa chỉ</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                            <% thanhvien.forEach(function(data){  %>
                                                <tr>
                                                    <td><% if(data.role == 'CatalogManager'){%>Nhân viên quản lý sản phẩm <%}
                                                            else if(data.role == 'OrderManager'){ %>Nhân viên tiếp nhận đơn hàng<%}%> </td>
                                                    <td><%= data.hoten %></td>
                                                    <td><%= data.email %></td>
                                                    <td><% if(data.idthongtin){ %><%= data.idthongtin.sdt %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></td>
                                                    <td><% if(data.idthongtin){ %><%= data.idthongtin.gioitinh %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></td>
                                                    <td><% if(data.idthongtin){ %><%= data.idthongtin.namsinh %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></td>
                                                    <td><% if(data.idthongtin){ %><%= data.idthongtin.diachi %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></td>
                                                    <td><a href="#" data-toggle="modal" data-target="#a<%= data._id %>"><i class="fas fa-trash-alt"></i> Xóa</a></td>
                                                </tr>
                                                <div class="modal fade" id="a<%= data._id %>">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    
                                                        <div class="modal-header">
                                                        <h4 class="modal-title">Bạn có chắc muốn xóa nhân viên này?</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        
                                                        <div class="modal-body">
                                                        <b>Họ tên: <%= data.hoten %></b><br>
                                                        <b>Chức vụ: <% if(data.role == 'CatalogManager'){%>Nhân viên quản lý sản phẩm <%}
                                                                    else if(data.role == 'OrderManager'){ %>Nhân viên tiếp nhận đơn hàng<%}%></b>
                                                        </div>
                                                        
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-danger" onclick="location.href='./../admin/thanhvien/delete?tv=<%= data.id %>&tttv=<% if(data.idthongtin){ %><%= data.idthongtin.id %><%}%>'">Xóa</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            <%})%>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Chức vụ</th>
                                            <th>Họ tên</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Địa chỉ</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("layouts/footer") -%>
    </div>
    <script src="/js/admin/close-alert.js"></script>
    <%- include("layouts/script") -%>

</body>

</html>