<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Apple Store</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/Home/logo.png">
    <!-- Custom Stylesheet -->
    <link href="/css/admin.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <style>
        .empty {
            color: rgb(190, 187, 187);
        }
    </style>
</head>

<body>

    <%- include("layouts/header") -%>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">


            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <% if(messageUpdate!=''){%>
                        <div class="alert success" id="success-alert" style="text-align: center; width: 800px;margin-left: 150px;">
                            <span class="closebtn">&times;</span>
                            <strong><%= messageUpdate%></strong>
                        </div>
                        <%}%>
                            <div class="col-lg-4 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media align-items-center mb-4">
                                            <img class="mr-3" src="/images/Member/form-user.png" width="90" height="90" alt="" style="border-radius: 50%;">
                                            <div class="media-body">
                                                <h4 class="mb-0">
                                                    <%= user.hoten %>
                                                </h4>
                                                <p class="text-muted mb-0">
                                                    <% if(user.role == 'CatalogManager'){%>Nhân viên quản lý sản phẩm
                                                        <%}else if(user.role == 'OrderManager'){ %>Nhân viên tiếp nhận đơn hàng
                                                            <%}else {%>Admin
                                                                <%}%>
                                                </p>
                                            </div>
                                        </div>

                                        <!-- <h4><u>Thông tin cá nhân</u></h4>
                                <br> -->
                                        <ul class="card-profile__info">
                                            <li class="mb-1"><strong class="text-dark mr-4">Họ Tên&emsp;</strong> <span><%= user.hoten %></span></li>
                                            <li class="mb-1"><strong class="text-dark mr-4">Chức vụ&nbsp;</strong> <span><% if(user.role == 'CatalogManager'){%>Nhân viên quản lý sản phẩm <%}
                                                                                                                else if(user.role == 'OrderManager'){ %>Nhân viên tiếp nhận đơn hàng<%}
                                                                                                                else {%>Admin<%}%> </span></li>
                                            <li class="mb-1"><strong class="text-dark mr-4">SĐT&emsp;&emsp; </strong> <span><% if(thongtin.idthongtin){ %><%= thongtin.idthongtin.sdt %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></span></li>
                                            <li class="mb-1"><strong class="text-dark mr-4">Email&emsp;&ensp;</strong> <span><%= user.email %></span></li>
                                            <li class="mb-1"><strong class="text-dark mr-4">Giới tính&ensp;</strong><span><% if(thongtin.idthongtin){ %><%= thongtin.idthongtin.gioitinh %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></span></li>
                                            <li class="mb-1"><strong class="text-dark mr-4">Ngày sinh</strong><span><% if(thongtin.idthongtin){ %><%= thongtin.idthongtin.namsinh %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></span></li>
                                            <li class="mb-1"><strong class="text-dark mr-4">Địa chỉ&emsp;</strong> <span><% if(thongtin.idthongtin){ %><%= thongtin.idthongtin.diachi %><%}else{%><i class="empty">{Chưa cập nhật}</i><%}%></span></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-validation">
                                            <form class="form-valide" action="/admin/thongtincanhan/<%if(thongtin.idthongtin){%><%=thongtin.idthongtin._id%><%}%>" method="post">
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="chucvu">Chức vụ
                                            </label>
                                                    <div class="col-lg-6">
                                                        <input value="<% if(user.role == 'CatalogManager'){%>Nhân viên quản lý sản phẩm <%}
                                                            else if(user.role == 'OrderManager'){ %>Nhân viên tiếp nhận đơn hàng<%}
                                                            else {%>Admin<%}%>" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="email">Email
                                            </label>
                                                    <div class="col-lg-6">
                                                        <input value="<%= user.email %>" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="hoten">Họ tên <span class="text-danger">*</span>
                                            </label>
                                                    <div class="col-lg-6">
                                                        <input value="<%= user.hoten %>" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="sdt">Số điện thoại <span class="text-danger">*</span>
                                            </label>
                                                    <div class="col-lg-6">
                                                        <input value="<% if(thongtin.idthongtin){ %><%= thongtin.idthongtin.sdt %><%}else{%><%}%>" type="text" class="form-control" id="sdt" name="sdt" placeholder="Vui lòng nhập số điện thoại..">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="gioitinh">Giới tính <span class="text-danger">*</span>
                                            </label>
                                                    <div class="col-lg-6">
                                                        <label class="radio-inline mr-3">
                                                    <input type="radio" name="gioitinh" value="Nam" <%if(thongtin.idthongtin){%><%if(thongtin.idthongtin.gioitinh=='Nam'){%>checked<%}%><%}%>> Nam</label>
                                                        <label class="radio-inline mr-3">
                                                    <input type="radio" name="gioitinh" value="Nữ" <%if(thongtin.idthongtin){%><%if(thongtin.idthongtin.gioitinh=='Nữ'){%>checked<%}%><%}%>> Nữ</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="namsinh">Ngày sinh <span class="text-danger">*</span>
                                            </label>
                                                    <div class="col-lg-6">
                                                        <input value="<% if(thongtin.idthongtin){ %><%= thongtin.idthongtin.namsinh %><%}else{%><%}%>" type="text" class="form-control" id="mdate" name="namsinh" placeholder="Vui lòng chọn ngày sinh">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-4 col-form-label" for="diachi">Địa chỉ <span class="text-danger">*</span>
                                            </label>
                                                    <div class="col-lg-6">
                                                        <input value="<% if(thongtin.idthongtin){ %><%= thongtin.idthongtin.diachi %><%}else{%><%}%>" type="text" class="form-control" id="diachi" name="diachi" placeholder="Vui lòng nhập địa chỉ">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <%- include("layouts/footer") -%>
            </div>
            <!--**********************************
        Main wrapper end
    ***********************************-->

            <!--**********************************
        Scripts
    ***********************************-->
            <script src="/js/admin/close-alert.js"></script>
            <%- include("layouts/script") -%>

</body>

</html>