<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('head_tag') %>
</head>

<body>
    <%- include('header') %>

        <div class="gradient">

            <div class="container " style="padding-top: 150px;">
                <div class="row productInf">
                    <% if(message!=''){%>
                        <div class="fixed-top alert alert-success alert-dismissible">
                            <%= message %>
                        </div>
                    <% } %>
                    <div class="detailImg col-md-4">
                        <img src="/upload/<%= sanPham.hinhanh %>" alt="">
                    </div>
                    <div class="col-md-6" style="color: white;">
                        <h3 style="font-weight: 900;"><%= sanPham.tensanpham %></h3>

                        <h1 style="color: rgb(255, 109, 109);"><%= sanPham.giatien.toLocaleString('de-DE') %> VNĐ</h1>
                        <h5> Sản phẩm chính hãng Apple Việt Nam mới 100% nguyên seal <br>

                            Giá đã bao gồm VAT<br>

                            Bảo hành 12 tháng chính hãng<br>

                            Giảm giá 10% khi mua phụ kiện kèm theo</h5>
                            <a href="/addcart/<%=sanPham._id%>"><div class="button"><span>Thêm giỏ hàng</span></div></a>

                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-10 prodSpec">
                        <h2>
                            Mô tả sản phẩm
                        </h2>
                        <%- sanPham.mota %>
                        <%- sanPham.thongsokythuat %>

                    </div>
                    <div class="col-md-2 moreProd">
                        <h2>Sản phẩm liên quan</h2>
                        <% sanPhamLienQuan.forEach(function(data){  %>
                            <a href="/detailProd?id=<%= data._id %>">
                                <div class="items">
                                    <img class="prodImg" src="/upload/<%= data.hinhanh %>">
                                    <p class="title double-line"><%= data.tensanpham %></p>
                                    <p class="price"><%= data.giatien.toLocaleString('de-DE') %> <u>đ</u></p>
                                </div>
                            </a>
                        <% }) %>
                        
<!-- 
                        <a href="/detailProd">
                            <div class="items">
                                <img class="prodImg" src="/Images/Product/sac.jpeg">
                                <p class="title">Sạc Belkin USB-C 68W/sạc nhanh</p>
                                <p class="price">1.600.000 VNĐ</p>
                            </div>
                        </a> -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 comment">
                        <div class="card">
                            <div class="row">
                                <div class="col-2">
                                    <img src="/Images/Member/form-user.png" width="70" class="rounded-circle mt-2">
                                </div>
                                <div class="col-10">
                                    <div class="comment-box ml-2">
                                        <% if(user) { %>
                                        <h4>Phản hồi</h4>
                                        <form id="post-comment">
                                            <div class="comment-area">
                                                <textarea id="comment-content" class="form-control" placeholder="Đánh giá của bạn"
                                                    rows="4"></textarea>
                                            </div>
                                            <div class="comment-btns mt-2">
                                                <div class="row">
                                                    <div> <button type="submit"
                                                        class="btn btn-success send btn-sm">Send <i
                                                            class="fa fa-long-arrow-right ml-1"></i></button> </div>
                                                </div>
                                            </div>
                                        </form>
                                        <%}else{%>
                                            <div class="comment-btns mt-2">
                                                <h4>Vui lòng đăng nhập để nhận xét sản phẩm!</h4>
                                                <div class="row">
                                                    <div> <button onclick="window.location.href='/login'"
                                                        class="btn btn-success send btn-sm">Đăng nhập <i
                                                            class="fa fa-long-arrow-right ml-1"></i></button> 
                                                    </div>
                                                </div>
                                            </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row comment_block" style="margin-top: 75px;">
                    <div class="col-md-10" style="">
                        <h1>Đánh giá sản phẩm</h1>
                        <div id="add-comment"></div>
                        <% nhanXet.forEach(data => { %>
                            <div class="row commenter">
                                <div class="col-md-2 commenter_avatar">
                                    <img src="/Images/Member/form-user.png" alt="">
                                    <h5><%= data.idthanhvien.hoten %></h5>
                                </div>
                                <div class="col-md-10">
                                    <p><%- data.noidung %>
                                        <%if(user){if(data.idthanhvien._id == user._id){%><a href="/deletecomment/<%=data._id%>" style="float: right;">Xóa</a><%}}%>
                                    </p> 
                                    <p><%= data.thoigian.toLocaleString('en-JM') %></p>
                                </div>
                            </div>
                        <%});%>
                    </div>
                </div>
                
            </div>


        </div>
        
        <%- include('footer') %>
        <script>
            AOS.init();
            $(function () {
                $(window).on('scroll', function () {
                    if ($(window).scrollTop() > 10) {
                        $('.navbar').addClass('active');
                        $('.searchBox').addClass('active');
                    } else {
                        $('.navbar').removeClass('active');
                        $('.searchBox').removeClass('active');
                    }
                });
            });
            
            $('#post-comment').submit(function(e){
                e.preventDefault();
                var idsanpham = (new URLSearchParams(window.location.search)).get('id');
                var noidung = $("#comment-content").val().replace(/\r?\n/g, '<br/>');
                console.log(idsanpham)
                $.ajax({
                    url: "/post-comment",
                    data: {noidung, idsanpham},
                    method: "POST",
                    success: function(data){ 
                        console.log(data)
                        $('#add-comment')
                        .append(`<div class="row commenter">
                                    <div class="col-md-2 commenter_avatar">
                                        <img src="/Images/Member/form-user.png" alt="">
                                        <h5>${data.user.hoten}</h5>
                                    </div>
                                    <div class="col-md-10">
                                        <p>${data.newNhanXet.noidung} <a href="/deletecomment/${data.newNhanXet._id}" style="float: right;">Xóa</a></p>
                                        <p>${new Date(data.newNhanXet.thoigian).toLocaleString('en-JM')}</p>
                                    </div>
                                </div>`)
                        $("#comment-content").val('')
                    }
                })
            })

        </script>
</body>

</html>