<footer class="footer" style="display: block;">
    <hr style="margin-top: 100px;">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="/Images/Home/footergif.gif" class="w-50 logo-footer">
                            <p>I.0507 Nguyễn Hữu Thọ</p>
                            <p>p.Tân Phong, Q.7, Tp.Hồ Chí Minh</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> Về chúng tôi</h6>
                        <p>Chúng tôi biết rằng khách hàng của mình, họ là ai và họ đang cần cái gì. Chính vì vậy
                            <b>MacOne</b> không ngừng nỗ lực đưa đến với thị trường, đến tay khách hàng những sản phẩm
                            chuẩn chất lượng, đúng nhu cầu để có thể giảm bớt chi phí và tiết kiệm thời gian nhất có
                            thể.
                        </p>
                        <a href="#" class="btn-footer"> Thêm về chúng tôi </a><br>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6>MacÓne</h6>
                        <div class="row ">
                            <div class="col-md-6">
                                <ul>
                                    <li> <a href="#"> Trang chủ</a> </li>
                                    <li> <a href="#"> Về chúng tôi</a> </li>
                                    <li> <a href="#"> Dịch vụ</a> </li>

                                </ul>
                            </div>
                            <div class="col-md-6 px-4">
                                <ul>
                                    <li> <a href="#"> Chúng tôi</a> </li>
                                    <li> <a href="#"> Giúp đỡ</a> </li>
                                    <li> <a href="#"> Liện hệ</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h6> Liên hệ</h6>
                        <div class="social">
                            <a href="https://www.fb.com/">
                                <p> Facebook</p>
                            </a>
                            <a href="">
                                <p> Instagram</p>
                            </a>
                        </div>
                        <form class="form-footer my-3">
                            <input type="text" placeholder="tìm kiếm..." name="search">
                            <input type="button" value="Go">
                        </form>
                        <p>Bản Quyền © 2021 MacOne Inc. <br>
                            Đã đăng ký bản quyền.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>