<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head_tag') %>
</head>
<body>
    <%- include('header') %>


    <div class="content">

        <div data-aos="fade-up" class="hero">
            <img src="../Images/Home/pngwing.com.png">
            <div class="hero_text">
                <h1>
                    Chào mừng đến với<br>
                    Thế giới Mac.
                </h1>
                <a href="/about">
                    Tìm hiểu thêm
                </a>

            </div>
        </div>


        <div style="padding-top: 50px;">
            <div class="container">

                <div data-aos="fade-right" data-aos-duration="2000" class="row">
                    <div class="item col-md-8">
                        <div class="carousel slide" data-ride="carousel" data-interval="3000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="/Images/Home/mbp1.jpg">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/Images/Home/mbp2.jpg">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/Images/Home/mbp3.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="itemInf col-md-4">
                        <h1 style="font-weight: 1000;">MacBook Pro</h1>
                        <h4>Giải pháp làm việc tối ưu<br> dành cho những chuyên gia</h4> 
                        <br>
                        <br>
                        <h5>Giá từ 29.000.000 vnđ</h5>
                        <a href="/products?id=607eea8803ce6510e81f4af2" class="buyBtn"> Đặt ngay </a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>            
                <div data-aos="fade-left" data-aos-duration="2000" class="row">
                    <div class="itemInf col-md-4">
                        <h1 style="font-weight: 1000;">MacBook Air</h1>
                        <h4>Hiệu năng cao, thiết kế mỏng nhẹ dành cho những người bận rộn</h4> 
                        <br>
                        <br>
                        <h5>Giá từ 21.000.000 vnđ</h5>
                        <a href="/products?id=607eea7a03ce6510e81f4af1" class="buyBtn"> Đặt ngay </a>
                    </div>
                    <div class="item col-md-8">
                        <div class="carousel slide" data-ride="carousel" data-interval="3000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="/Images/Home/mba1.jpg">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/Images/Home/mba2.jpg">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/Images/Home/mba3.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right" data-aos-duration="2000" class="row">
                    <div class="item col-md-8">
                        <div class="carousel slide" data-ride="carousel" data-interval="3000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="/Images/Home/imac.png">
                                </div>
 
                            </div>
                        </div>
                    </div>
                    <div class="itemInf col-md-4">
                        <h1 style="font-weight: 1000;">Imac</h1>
                        <h4>Phần cứng tốt nhất cho những tác vụ nặng nhất</h4> 
                        <br>
                        <br>
                        <h5>Giá từ 25.000.000 vnđ</h5>
                        <a href="/products?id=607eeaa403ce6510e81f4af4" class="buyBtn"> Đặt ngay </a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>   
                <div class="spacer" style="height: 150px;"></div>
                <div data-aos="fade-up" data-aos-duration="2000" class="end_banner">
                    <h1 style="font-weight: 1000; color: white;">Phụ kiện</h1>
                    <br>
                    <hr>
                    <div class="row accesory">
                        
                        <div onclick="location.href='/products?id=<%= phuKien[0].id %>';" style="cursor: pointer;" class="icon_accs">
                            <img src="Images/Home/km.png" alt="">
                        </div>
                        <h4><%= phuKien[0].tenloaisp %></h4>
                        <div onclick="location.href='/products?id=<%= phuKien[1].id %>';" style="cursor: pointer;" class="icon_accs">
                            <img src="Images/Home/sound.png" alt="">
                        </div>
                        <h4><%= phuKien[1].tenloaisp %></h4>
                        <div onclick="location.href='/products?id=<%= phuKien[2].id %>';" style="cursor: pointer;" class="icon_accs">
                            <img src="Images/Home/hub.png" alt="">
                        </div>
                        <h4><%= phuKien[2].tenloaisp %></h4>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>   

            </div>
        </div>
        
    </div>
    

    
    <%- include('footer') %>
    <script>
        AOS.init();
                $(function () {
                    $(window).on('scroll', function () {
                        if ($(window).scrollTop() > 10) {
                            $('.navbar').addClass('active');
                            $('.searchBox').addClass('active');
                        } else {
                            $('.navbar').removeClass('active');
                            $('.searchBox').removeClass('active');
                        }
                    });
                });

    </script>
</body>
</html>