<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('head_tag') %>
</head>

<body>
    <%- include('header') %>
        <div class="background">
            <br>
            <br>
            <br>
            <br>
            <div class="content">
                <form action="/login" method="post" class="form-valide">
                    <div class="container signup">
                        <div class="row">
                            <% if(message!=''){%>
                                <div class="fixed-top alert alert-danger alert-dismissible">
                                    <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                                    <%= message %>
                                </div>
                                <% } %>
                                    <% if(messageSuccess!=''){%>
                                        <div class="fixed-top alert alert-success alert-dismissible">
                                            <%= messageSuccess %>
                                        </div>
                                        <% } %>
                                            <div class=" col-md-6 loginForm" style="padding-top: 25px;">
                                                <h3>Đăng nhập</h3>
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <div>
                                                        <input name="username" value="" type="email" class="form-control" id="email" placeholder="Enter email">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="password">Mật khẩu</label>
                                                    <div>
                                                        <input name="password" value="" type="password" class="form-control" id="password" placeholder="Password">
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <input type="submit" class="button" value="Đăng nhập">
                                                <a href="/auth/google">
                                                    <div class="button google">
                                                        <div class="ggima">
                                                            <img src="/Images/Signup/Google__G__Logo.svg.png" alt="">
                                                        </div>
                                                        Đăng nhập với google
                                                    </div>
                                                </a>
                                                
                                            </div>
                                            <div class="sideImg col-md-6">
                                                <img src="/Images/Signup/apple-spring-loaded.jpeg" alt="">
                                                <p>Chưa có tài khoản ? <br><a href="/signup"> đăng ký ngay</a> </p>
                                                <br>
                                                <br>
                                                
                                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="Spacer">
                <hr>
                <br>
            </div>
        </div>
        <%- include('footer') %>
            <script>
                AOS.init();
                $(function() {
                    $(window).on('scroll', function() {
                        if ($(window).scrollTop() > 10) {
                            $('.navbar').addClass('active');
                            $('.searchBox').addClass('active');
                        } else {
                            $('.navbar').removeClass('active');
                            $('.searchBox').removeClass('active');
                        }
                    });
                });
            </script>
            <script src="/plugins/validation/jquery.validate.min.js"></script>
            <script src="/plugins/validation/jquery.validate-init.js"></script>
</body>

</html>