<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('head_tag') %>
</head>

<body>
    <%- include('header') %>

        <div class="gradient">
            <div class="spacer" style=" height: 100px;"></div>
        <div class="container">
            <h2 style="color: white; font-weight: 900;"> Chi tiết đơn hàng</h2>
            <div class="oder row">
                <table>
                    <colgroup>
                        <col span="1" style="width: 60%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                        
                     </colgroup>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        
                      </tr>
                      <% let i = 0 %>
                      <% chiTietDonHang.soluong.forEach(data => {%>
                      <tr>
                        <td><a href="/detailProd?id=<%=chiTietDonHang.idsanpham[i]._id %>"><%=chiTietDonHang.idsanpham[i].tensanpham %></a></td>
                        <td><%= data %></td>
                        <td><%=chiTietDonHang.idsanpham[i].giatien.toLocaleString('de-DE') %> <u>đ</u></td>
                        <td><%=(chiTietDonHang.idsanpham[i].giatien *  data).toLocaleString('de-DE') %> <u>đ</u></td>
                      </tr>
                      <% i++ });%>
                      <tr>
                          <td></td>
                          <td></td>
                          <td><b><u>Tổng cộng:</u></b></td>
                          <td><b><%=chiTietDonHang.thanhtien.toLocaleString('de-DE') %> <u>đ</u></b></td>
                      </tr>
                </table>
            </div>
            
        </div>
        </div>
        <%- include('footer') %>
            <script>
                AOS.init();
                $(function () {
                    $(window).on('scroll', function () {
                        if ($(window).scrollTop() > 10) {
                            $('.navbar').addClass('active');
                            $('.searchBox').addClass('active');
                        } else {
                            $('.navbar').removeClass('active');
                            $('.searchBox').removeClass('active');
                        }
                    });
                });

            </script>
</body>

</html>