body{
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
  }
/*Navigation Bar*/
.navbar {
    transition: all 0.4s;
    background-color:rgba(0, 0, 0, 0);
    z-index: 1;
}

.navbar .nav-link {
    color: rgb(255, 255, 255);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: rgb(193, 193, 193);
    text-decoration: none; /* Hover chon */
}

.navbar .navbar-brand {
    color: rgb(255, 255, 255);
    
}
.navbar .navbar-brand .headimg{
    width: 30px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;

}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}
.navbar.active .dropdown ul{
    background: white;
}

.dropdown ul{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    opacity: 0;
    width:max-content;
    visibility: hidden;
    padding: 0px;
    background: rgba(255, 255, 255,0.3);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 15px 15px;
    padding-left: 0px;
    padding-right: 20px;
    list-style-type: none;
    transition: ease all 0.3s;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 100%);
}

.dropdown:hover>ul{
    opacity: 1;
    visibility: visible;
}



@media (max-width: 991.98px) {
    .navbar {
        background: rgb(255, 255, 255);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: rgb(255, 255, 255);
    }
}
/*Footer Bar*/
.logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}


.footer{
    
    flex-shrink: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
}
.footer-inner{
    padding-top: 50px;
    padding-bottom: 50px;
}
footer h6 {
    font-family: 'Roboto', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
     .btn-footer {
                 color: grey;
              
                text-decoration: none;
                border: 1px solid;
                border-radius: 43px;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
     }
     .btn-footer:hover {
                
                text-decoration: none;
               
     }
    .form-footer input[type="text"] {
        border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
 .form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
     .social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
     footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
.footer a:hover {
    text-decoration: none;
    color: #070707 !important;
}

/*Hero Banner*/
.hero{

    clear: both;
    text-align: center;
    padding-top: 275px;
    padding-bottom: 250px;
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, #5f5f5f 0%, #000000 100%);
}
.hero img{

    padding-top: 100px;
    opacity: 25%;
    position: absolute;
    top: 0%;
    left: 45%;
    text-align:center;
    z-index: 2;
    width: 10%;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(253, 253, 253) );
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
}

.hero_text h1{
    font-weight:900;
    position: relative;
    font-size: 45px;
    color: white;
    z-index: 9;

}

.buyBtn{
    
    font-size:15px;
    display: inline;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: rgb(39, 147, 255);
}

.buyBtn:hover{
    border-color: rgba(255, 255, 255, 1);
}

.itemInf {
    color: white;
}

body {
    
    background-color: #000000;
    
    
}

.alert {
    z-index: 10;
    margin-left: 30%;
    margin-right: 30%;
    padding: 18px 50px 18px 8px;
    text-align: center;
    font-weight: bold;
}

/* Products */
.items{
    background-color: black;
    width: 220px;
    height: 350px;
    margin: 5px;
    padding: 0;
    display: block;
    border-radius: 10px;
    color: white;
    box-shadow: 4px 4px 8px rgb(44, 44, 44);
}


.title{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-weight:500;
}
.desc{
    margin-left: 5px;
    font-size: 15px;
    font-weight: lighter;
}
.price{
    font-size: 18px;
    margin-right: 5px;
    font-weight: 700;
    text-align: right;
}
.prodImg{
    border-radius: 10px;
    
    width:220px;
  height:220px;
  object-fit:cover;
}


.items:hover {
    transition: all 0.2s ease-out;
    box-shadow: 4px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
    color: black;
    transform: scale(1.05);
  }
  
.end_banner{
    display: block;
    text-align: center;
    color: white;
}

.icon_accs{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 100px;
    margin: auto;
    text-align: center;
}
.icon_accs:hover{
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
    color: black;
    transform: scale(1.5);
}

.icon_accs img{
    max-width:86%;
    max-height:86%;
    padding-top: 10px;
}


.productInf .button{
    margin-top: 25px;
    width: 200px;
    height: 75px;
    border: none;
    position: relative;
    float: left;
    background: rgb(245,245,247);
    margin-bottom: 25px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-weight: 900;
}
.productInf .button:hover {
    opacity: 0.8;
    box-shadow: -2px -2px 10px rgba(173, 250, 86, 0.8),
    2px 2px 10px rgba(86, 255, 8, 0.2);
    background: rgb(63, 206, 34);
    color: white;
}
.productInf .button:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(58, 58, 58, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #0fff07;
}

.productInf span {
    line-height: 75px;
    font-size: 25px;
    font-weight: semibold;

  }


.detailImg{
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: block;
    text-align: center;
    box-shadow:    2px 2px 6px rgba(0, 0, 0, 0.2);
 
    margin-right: 50px;
}

.form-group{
    width: 100%;
}

#Spacer{
    height: 100px;
    
}

.signup{
    margin-top: 50px;
    color: white;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 25px;
    background-image: linear-gradient(215deg, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.7) 100%);
    box-shadow: 5px 5px 10px rgba(255, 255, 255,0.3);
}
.sideImg p{
    float:  right;
    color: black;
}
.sideImg a{
    float:  right;
}
.signup h3{
    font-weight: 900;
}

.signup img{
    width: 100%;
    border-radius:  0px 25px 25px 0px;
}
.sideImg{
    background-color: rgb(245,245,247);
    border-radius:  0px 25px 25px 0px;
}

.form-group input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.background{
    background-image: linear-gradient(180deg, #5f5f5f 0%, #000000 100%);
}
.loginForm .button{
        margin-right: 50px;
        width: 200px;
        height: 75px;
        border: none;
        position: relative;
        float: right;
        background: rgb(245,245,247);
        margin-bottom: 25px;
        border-radius: 25px;
        text-align: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        box-shadow: -6px -6px 10px rgba(99, 99, 99, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
        color: #000000;
        font-weight: 900;
}
.loginForm .button:hover {
    opacity: 0.8;
    box-shadow: -6px -6px 10px rgba(174, 255, 183, 0.8),
      6px 6px 10px rgba(51, 255, 92, 0.2);
}
.loginForm .button:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(75, 75, 75, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
  }
.loginForm span {
    line-height: 75px;
    font-weight: semibold;

  }

.google{
    
    text-align: center;
    padding-top:15px;
    height: 50px;
    width: 170px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 25px 25px 25px;
    display: inline-block;
    justify-content: center;
}

.ggima{
    width: 20%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: inline-block;
}

.google h5{
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    color: black;
}


.profile{
    width: 100%;
    color: white;
    font-weight: 900;

    
}
.profile .avatar {
    height: 200px;
    margin: auto;
    display: block;
    text-align: center;
    
}
.profile .avatar img{
    transition: .5s ease;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.overlay button{
    background: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 10px;
}
.avatar:hover img{
    opacity: 0.3;
}

.avatar:hover .overlay{
    opacity: 1;
}

.infor input{    
 float: left;
 
}

.detailImg img{
    width: 96%;
}

.prodSpec{
    height: 600px;
    color: white;
}
.prodSpec table{
    width: 100%;
    border: 1px solid white;
}


.gradient{
    background-image: linear-gradient(180deg, #292929 0%, #000000 100%);
}

.comment{
    height: 200px;
    margin-top: 100px;

}

.comment .card {
    
    min-width: 0;
    padding: 20px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}
.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}

.comment_block{
    
    
}


.comment_block h1{
    color: white;
    font-weight: 900;
    margin-bottom: 25px;
    
}

.commenter{
    color: white;
    background-color: rgba(72, 72, 72, 0.535);
    border-radius: 20px;
    padding: 5px;
    margin-top: 50px;
    
}
.commenter_avatar{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

}

.commenter_avatar img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.commenter_avatar h5{

}

.moreProd h2{
    color: white;
}
.double-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
 }



/* Search Box*/

.searchBox {
    transform:  translate(0%,50%);
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    border-radius: 40px;
    margin-bottom: 44px;
    

}

.searchBox:hover{
    background-color: rgba(255, 255, 255, 1);
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    
}

.searchBox:hover > .searchButton {
  background: rgb(146, 252, 143);
  color : #2f3640;
}

.searchButton {
    color: white;
    float:left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:right;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    

}

.searchBox:hover.active{
    background-color: rgb(35, 35, 35);  
}

.searchBox.active .searchInput{
    color: white;
}

.cart_items{
    padding-top: 30px;
    min-height: 400px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    float: left;
}

.price_box{
    min-height: 280px;
    padding-top: 30px;
    text-align: left;
    padding-left: 10px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.voucher{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    min-height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.voucher input{
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
}
.btn_purchase{
    float: right;
}
.btn_purchase button{
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}
.btn_purchase .button{
    
    width: 200px;
    height: 75px;
    border: none;
    position: relative;
    float: left;
    background: linear-gradient(180deg, #ff5151 0%, #d15959 100%);
    margin-bottom: 25px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -2px -2px 10px rgba(110, 110, 110, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-weight: 900;
}
.btn_purchase .button:hover {
    opacity: 0.8;
    box-shadow: -2px -2px 10px rgba(199, 71, 71, 0.8),
    2px 2px 10px rgba(175, 34, 34, 0.2);
    background: linear-gradient(180deg, #bd3f3f 0%, #9c2323 100%);
    color: white;
}
.btn_purchase .button:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(58, 58, 58, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #ff0707;
}

.btn_purchase span {
    line-height: 75px;
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.cart_items table{
    width: 100%;
    border: 1px solid #dddddd;
    border-spacing: 5px;
    border-collapse: collapse;
}
.cart_items th{
    font-weight: 900;
    border: 1px solid #dddddd;
    border-right: none;
    border-left: none;
}
.cart_items table td, th {
    text-align: left;
    padding: 8px;
}

.price p{
    font-size: 15px;
    display: inline-block;
    padding-right: 10px;
}

.final_price{
    margin-top: 40px;
    font-weight: 900;
    color: rgb(253, 94, 94);
}

.purchase{
    color: rgb(121, 121, 121);
}


.sidemenu{
    color: white;
    height: 250px;
    border-radius: 20px;
    padding-top: 25px;
    background-image: linear-gradient(180deg, rgba(94, 94, 94, 0.377) 0%, rgba(189, 189, 189, 0.562) 100%);
}
.vertical-menu a{
    display: block;
    color: white;
    margin-top: 10px;
    
}
.vertical-menu a:hover{
    display: block;
    color: white;
    font-weight: 900;
    
    
}



.oder{
    background: white;
    min-height: 400px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 50px;

}
.oder h2{
    display: block;
    margin: 0px;
    height: 25px;
}
.oder table{
    border-collapse:collapse;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
    font-size: 20px;
    display: block;
    float: left;
    width: 100%;
    color: black;
    border: 1px solid #000000;
}
.oder table td a {
    display:block;
    width:100%;
    font-size: 20px;
    margin-left: 5px;
}

.oder table th{
    font-weight: 900;

}